<div class="form-panel">
  <input type="text" placeholder="Enter image URL" ng-model="newScreenForm.data.url" required>
  <div class="form-container">
    <input id="newScreenForceFull" type="checkbox" ng-model="newScreenForm.data.forcefull" class="css-checkbox">
    <label for="newScreenForceFull" class="css-label">Force to full screen (even if smaller)</label>
  </div>
  <div class="buttons">
    <button ng-click="addScreen(newScreenForm)" class="success">Add</button>
    <button ng-click="cancelAddScreen()" class="cancel">Cancel</button>
  </div>
</div>