<div class="form-panel">
  <input type="text" placeholder="Enter image URL" rows="4" ng-model="activeScreenEdit.data.url" required>
  <div class="form-container">
    <input id="editScreenForceFull" type="checkbox" ng-model="activeScreenEdit.data.forcefull" class="css-checkbox">
    <label for="editScreenForceFull" class="css-label">Force to full screen (even if smaller)</label>
  </div>
  <div class="buttons">
    <button ng-click="updateActiveScreen(editScreenForm)" class="success">Save</button>
    <button ng-click="cancelEditScreen()" class="cancel">Cancel</button>
  </div>
</div>