<div class="image-screen">
  <div class="{{wrapclass}}" {{#forcefull}}style="background-image: url({{url}});"{{/forcefull}}>{{^forcefull}}<img src="{{url}}">{{/forcefull}}</div>
  <div class="caption">{{caption}}</div>
</div>